<!DOCTYPE html>
<html>
    <head>
        <title>DAB 111(Introduction to Python)</title>

        <style>
            table {
                width: 85%;
                margin: auto;
                border-collapse: collapse;
                font-size: 12px;
            }
            th, td {
                border: 1px solid rgb(224, 79, 79);
                padding: 8px;
                text-align: center;
            }
            th {
                background-color: #f65b5b;
            }
        </style>
    </head>
    <body>
        <h1>About the Dataset</h1>
        <ul>
            <li><a href="{{ url_for('index') }}">Link To Home page</a></li>
        </ul>
        <br />

        <h2>Source of Data:</h2>
        <p>The Data used for this project was gotten from Kaggle. A full view of the utilized data can be found <a href="https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales?resource=download" target="_blank">here</a></p>
        
        <h2>Context:</h2>
        <p>The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data. Predictive data analytics methods are easy to apply with this dataset.</p>
        <br />

        <h2>Variable Definitions:</h2>
        <table>
            <thead>
                <tr><th>Variable Name</th><th>Data Type</th><th>Description</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Invoice ID</td>
                    <td>categorical</td>
                    <td>Computer generated sales slip invoice identification number. Example: 750-67-8428</td>
                </tr>
                <tr>
                    <td>Branch</td>
                    <td>categorical</td>
                    <td>Branch of supercenter (3 branches are available identified by A, B and C).</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>categorical</td>
                    <td>Location of supercenters. Example: Yangon, Mandalay</td>
                </tr>
                <tr>
                    <td>Customer type</td>
                    <td>categorical</td>
                    <td>Type of customers, recorded by Members for customers using member card and Normal for without member card.</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>categorical</td>
                    <td>Gender type of customer. Example:Male, Female</td>
                </tr>
                <tr>
                    <td>Product line</td>
                    <td>categorical</td>
                    <td>General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel</td>
                </tr>
                <tr>
                    <td>Unit price</td>
                    <td>continuous</td>
                    <td>Price of each product in $ (dolars) from 10.08 to 99.96</td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td>continuous</td>
                    <td>Number of products purchased by customer from 1 to 10</td>
                </tr>
                <tr>
                    <td>Tax 5%</td>
                    <td>continuous</td>
                    <td>5% tax fee for customer buying from 0.5085 to 49.65</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>continuous</td>
                    <td>Total price including tax from 10.6785 to 1042.65</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>categorical</td>
                    <td>Date of purchase (Record available from January 2019 to March 2019). Example: 1/5/2019</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>continuous</td>
                    <td>Purchase time (10am to 9pm) from 10:00 to 20:59</td>
                </tr>
                <tr>
                    <td>Payment</td>
                    <td>categorical</td>
                    <td>Payment used by customer for purchase (3 methods are available – Cash, Credit card and Ewallet). Example: Ewallet, Cash</td>
                </tr>
                <tr>
                    <td>COGS</td>
                    <td>continuous</td>
                    <td>Cost of goods sold from 10.17 to 993</td>
                </tr>
                <tr>
                    <td>Gross Margin Percentage</td>
                    <td>continuous</td>
                    <td>Gross margin percentage. Example:4.761904762</td>
                </tr>
                <tr>
                    <td>Gross Income</td>
                    <td>continuous</td>
                    <td>Gross income from 0.5085 to 49.65</td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>categorical</td>
                    <td>Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)</td>
                </tr>
            </tbody>
        </table>

        <br />

        <footer>
            <p>&copy; 2024 Spring Semester Group 1, Section B. All rights reserved.</p>
        </footer>
    </body>
</html>