<!DOCTYPE html>
<html>
    <head>
        <title>DAB 111(Introduction to Python) Project 2</title>
        
    </head>
    <body>
        <h1>Supermarket Sales Data</h1>
        <p>Welcome to the Website of Group 1</p>
        <ul>
            <li><a href="{{ url_for('about') }}">Link To About page</a></li>
            <li><a href="{{ url_for('data') }}">Link To Data page</a></li>
        </ul>

        <br />
        <h2>Authors</h2>
        <ol>
            <li>Kenechukwu Enem - 0863108</li>
            <li>Sanjana Indu - 0867998</li>
        </ol>

        <br />

        <footer>
            <p>&copy; 2024 Spring Semester Group 1, Section B. All rights reserved.</p>
        </footer>
    </body>
</html>